<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"

	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



	<bean id="utilisateurDAO"
		class="org.projetoc.escalade.consumer.impl.dao.UtilisateurDaoImpl">

		<property name="dataSource" ref="dataSource" />

	</bean>

	<bean id="commentaireDAO"
		class="org.projetoc.escalade.consumer.impl.dao.CommentaireDaoImpl">

		<property name="dataSource" ref="dataSource" />

	</bean>

	<bean id="espace_de_pretDAO"
		class="org.projetoc.escalade.consumer.impl.dao.Espace_de_PretDaoImpl">

		<property name="dataSource" ref="dataSource" />

	</bean>



	<bean id="publicationDAO"
		class="org.projetoc.escalade.consumer.impl.dao.PublicationDaoImpl">

		<property name="dataSource" ref="dataSource" />

	</bean>


	<bean id="secteurDAO"
		class="org.projetoc.escalade.consumer.impl.dao.SecteurDaoImpl">

		<property name="dataSource" ref="dataSource" />

	</bean>

	<bean id="sitesDAO"
		class="org.projetoc.escalade.consumer.impl.dao.SitesDaoImpl">

		<property name="dataSource" ref="dataSource" />

	</bean>


	<bean id="topoDAO"
		class="org.projetoc.escalade.consumer.impl.dao.TopoDaoImpl">

		<property name="dataSource" ref="dataSource" />

	</bean>

	<bean id="voiesDAO"
		class="org.projetoc.escalade.consumer.impl.dao.VoiesDaoImpl">

		<property name="dataSource" ref="dataSource" />

	</bean>




	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">




		<property name="driverClassName"
			value="org.postgresql.Driver" />

		<property name="url"
			value="jdbc:postgresql://localhost:5432/Escalade" />

		<property name="username" value="postgres" />

		<property name="password" value="root" />

	</bean>



</beans>